{% ckan_extends %}

{# Creates the stand alone fields #}

{% block package_basic_fields_custom %}
  {{ form.input('temperature', label=_('Temperature'), id='field-temperature', placeholder=_('temperature'),
    value=data.temperature, error=errors.temperature, classes=['control-medium']) }}

  {{ form.input('pressure', label=_('Pressure'), id='field-pressure', placeholder=_('pressure'),
    value=data.pressure, error=errors.pressure, classes=['control-medium']) }}

  {{ form.input('initial_temperature', label=_('Initial Temperature'), id='field-initial_temperature', placeholder=_('initial_temperature'),
  value=data.initial_temperature, error=errors.initial_temperature, classes=['control-medium']) }}

  {{ form.input('simulation_time', label=_('Initial Temperature'), id='field-simulation_time', placeholder=_('simulation_time'),
  value=data.simulation_time, error=errors.simulation_time, classes=['control-medium']) }}
{% endblock %}