{% ckan_extends %}

{% block header %}
  {{ super() }}

  <style>
    {% for resource_type in h.atbrepo_get_resource_types(pkg.resources) %}
      #{{ resource_type }}-filter:checked ~ .resource-list [restype="{{ resource_type }}"] {
        display: block;
      } 
    {% endfor %}
  </style>
{% endblock %}

{% block package_description %}
  {{ super() }}

  {# Add our custom program field to the dataset read page. #}
  {% if pkg.get('program') %}
    <section id="dataset-program" class="resources module-content">
    <p><strong>Program</strong>: {{ pkg.program[0] }}</p>
    </section>
  {% endif %}

  {% if pkg.get('thermostat') %}
    <section id="dataset-thermostat" class="resources module-content">
    <p><strong>Thermostat</strong>: {{ pkg.thermostat[0] }}</p>
    </section>
  {% endif %}

  {% if pkg.get('barostat') %}
    <section id="dataset-barostat" class="resources module-content">
    <p><strong>Barostat</strong>: {{ pkg.barostat[0] }}</p>
    </section>
  {% endif %}

  {% for extra in pkg.get('extras') %}
    {% key = extra.get('key') %}
    {% value = extra.get('value') %}
    {% pkg_extras[key] = value %}
    {% title = key.title() %}
    <section id="dataset-"{{key}} class="resources module-content">
    <p><strong>{{title}}</strong>: {{ value }}</p>
    </section>
  {% endfor %}

{% endblock %}

 {% block package_tags %}
    {{ super() }}
 {% endblock %}

{% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
{% endblock %}

{% block package_resources %}
  {{ super() }}
{% endblock %}