{% ckan_extends %}

{% block header %}
  {{ super() }}

  <style>
    {% for resource_type in h.atbrepo_get_resource_types(pkg.resources) %}
      #{{ resource_type }}-filter:checked ~ .resource-list [restype="{{ resource_type }}"] {
        display: block;
      } 
    {% endfor %}
  </style>
{% endblock %}

{% block package_description %}
  {{ super() }}

  {# Add our custom program field to the dataset read page. #}
  {% if pkg.get('program') %}
    <section id="dataset-program" class="resources module-content">
    <p><strong>Program</strong>: {{ pkg.program[0] }}</p>
    </section>
  {% endif %}

{% endblock %}
